<div *ngIf="!token">
    <form #registerForm (ngSubmit)="registrar()">
        <label>Nombre</label>
        <input type="text" class="form-control"
        name="nombre" #cajanombre="ngModel" [(ngModel)]="usuario.nombre">
        <label>Email</label>
        <input type="text" class="form-control"
        name="email" #cajaemail="ngModel" [(ngModel)]="usuario.email">
        <label>Contraseña</label>
        <input type="password" class="form-control"
        name="pass" #cajaemail="ngModel" [(ngModel)]="usuario.pass">
        <button class="btn btn-info">Registrar usuario</button>
    </form>
</div>
<div *ngIf="token">
    <a class="btn btn-info" [routerLink]="['/usuario']">Ver Perfil</a>
    <a class="btn btn-success" [routerLink]="['/usuariocompras']">Ver mis compras</a>
    <a class="btn btn-dark" [routerLink]="['/compracubo']">Realizar una compra</a>
</div>

